* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* LAYOUT GERAL ABRE*/

body {
    background-image: white ;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
}

header {
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
}

.main-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
}

/* LAYOUT GERAL FECHA */

/* ELEMENTOS DE INTERAÇÃO ABRE */
#display-counter {
    padding: 10px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    background-color: antiquewhite;
    box-shadow: 0 5px 10px rgb(51, 51, 51);
}

.buttons button {
    width: 60px;
    height: 60px;
    font-size: 24px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(72, 106, 255);
}

button:hover {
    cursor: pointer;
    box-shadow: 0 10px 15px rgb(61, 61, 61);
    transition-duration: 0.3s;    
}
#reset-button {
    font-size: 24px;
    width: 120px;
    padding: 10px;
    border-radius: 16px;
    color: antiquewhite;
    background-color: rgb(72, 106, 255);

}
#changeBy {
    cursor: pointer;
    box-shadow: 0 2px 5px rgb(61, 61, 61);
    transition-duration: 0.3s;  
}
/* ELEMENTOS DE INTERAÇÃO FECHA */

/* RODAPÉ ABRE */

#copyright {
    font-size: 14px;
    margin-top: 9cm;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/* RODAPÉ FECHA*?